body {
  font-family: Georgia, serif;
  margin: 0;
  background-color: #ddd;
  color: #000;
}

header {
  text-align: center;
  padding-top: 20px;
}

header h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: blue;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

.intro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 40px;
  gap: 40px;
}

.intro .text {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.05rem;
}

.intro img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border: 1px solid #888;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.gallery {
  margin: 20px;
}

video {
  display: block;
  width: 300%;
  max-width: 900px;
  margin: 0 auto 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  justify-content: left;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0;

}

.images img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

  